.search-bar {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 95%;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    margin: 20px 20px 0 20px;
    padding: 15px;
    outline: none;
    position: sticky;
    z-index: 1;
    top: 10px;
}

.search-Tagbar {
    width: 45%;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    position: unset;
    z-index: unset;
    top: unset;
}

@media (max-width: 800px) {
    .search-bar {
        font-size: 20px;
        width: 80%;
    }
    .search-Tagbar {
        font-size: 15px;
        width: 90%;
    }
}
