body {
  font-family: "Raleway", sans-serif;
  background-color: lightgrey;
}

.App {
  display: flex;
  flex-direction: column;
  width: 800px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 50px auto;
  box-shadow: grey 0px 4px 4px;
}

@media (max-width: 800px) {
  .App {
    width: 350px;
  }
}
